@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

html {
  overflow: scroll;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

iframe {
  display: none;
}


@keyframes colorChange {
  0% {
    color: #6f6e6f;
  }
  50% {
    color: #b1b0b1;
  }
  100% {
    color: #6f6e6f;
  }
}
